<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Employe Records</title>
        {% load staticfiles%}
        <link rel="stylesheet" href="{% static '/style.css'%}">
    </head>
<body>
    <form method="POST" class="post-form" action="/emp">
    {% csrf_token %}
    <div class="container">
        <br>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <h3>Enter Details</h3>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Emloye Id:</label>
            <div class="col-sm-4">
                {{form.eid}}

            </div>
        </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Employe name</label>
        <div class="col-sm-4">{{form.ename}}

        </div>
    </div>
    <div class="form-group row">
            <label class="col-sm-2 col-form-label">Employe email:</label>
            <div class="col-sm-4">
                {{form.email}}

            </div>
        </div>
        <div class="form-group row">
                <label class="col-sm-2 col-form-label">Emloye contact:</label>
                <div class="col-sm-4">
                    {{form.econtact}}
    
                </div>
        </div>
                
                <div class="form-group row">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary">Submit</button>            
                        </div>
            </div>
    </div>
    
    
    
    </form>
</body>
</html>